body {
  text-align: center;
  background-color: mediumaquamarine;
}

.column  {
  width: 33%;
  float: left;
  
}

img {
  width: 250px;
  object-fit: contain;
}

ul  {
  text-align: center;
  list-style: none;
}

p {
  text-align: center;
}